$neon-blue: #3498db;
$neon-green: #2ecc71;

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #34495e;
    

    .box{
        width: 400px;
        max-width: 100%;
        background-color: #191919;
        padding: 40px;
        text-align: center;
        margin: 20px 20px 0px 20px;

        h1{
            color: white;
            text-transform: uppercase;
            font-weight: 500;
        }

        input{
            border: 0;
            background: none;            
            display: block;
            text-align: center;
            border: 2px solid $neon-blue;
            margin: 20px auto;
            padding: 14px 10px;
            width: 66%;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;

            &:focus{
                border: 0;
                background: none;            
                display: block;
                text-align: center;
                border: 2px solid $neon-green;
                margin: 20px auto;
                padding: 14px 40px;
                outline: none;
                color: white;
                border-radius: 24px;
                transition: 0.25s;
            }
        }

        button{
            @extend input;

            padding: 14px 40px;
            width: initial;
            border-color:  $neon-green;

            &:hover{
                background: $neon-green;
            }
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: background-color 5500s ease-in-out 0s;
            -webkit-text-fill-color: white !important;
        }
    }

    footer{
        width: 400px;
        max-width: 100%;
        text-align: center;
        margin: 0;

        .svg{            
            width: 20%;
            min-width: 65px;
            margin: 0px auto;
            margin-bottom: -6px;
            transition: 0.25s;

            &:hover{
                fill: $neon-green;
            }
        }
    }

}